body {
    background-color: #f5cb8d;
    color: rgb(155, 43, 155);
    padding: 0;
    margin: 0%;
    font-family: 'Modern Antiqua', cursive;
    font-size: 15.5px;
}


h1 {
    background: rgb(155, 43, 155);
    color: white;

    text-align: center;
    
    
}


h3 {
    background: rgb(155, 43, 155);
    color: white;
    border-radius: 10px;
    text-align: center;

}


.rodape{
    background: rgb(155, 43, 155);
    color: white;
    height: 170px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    
    
}
 
footer{
    padding: 0;
    margin: 0%;
}
.copyrigth{

    margin-top: 16px;
    
}


header{
    background-color:  rgb(155, 43, 155);
   
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color:#f8bc62
}

.produtos{
    width: 950px;
    margin: 0 auto;
    padding: 50px 0;
    
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid rgb(155, 43, 155);
    border-radius: 8px;
}

.produtos li:hover{
    border-color: rgb(240, 159, 67);
}

.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
 

/* estilização página contato */

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;

}

form label, form p{
    display: block;
    font-size: 20px;
    margin:  0 0 10px;
    color: rgb(155, 43, 155);
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    border-radius: 8px;
    padding: 10px 25px;
    width: 50%;
    background-color:  rgb(155, 43, 155);
    color: white;
}

.checkbox{
    margin: 20px 0;
    
}


#enviar{
    border-radius: 8px;
     border: none; 
     font-size: 18px; 
     color: white; 
     height: 45px; 
     width: 240px; 
     background: rgb(6, 185, 6);
     cursor: pointer;
     transition: 2s all;
}

#enviar:hover{
    background: rgb(155, 43, 155);
    transform: rotate(360deg) scale(2);;
}

table{
    margin: 20px 0 40px;
    
}

thead{
    background-color:  rgb(155, 43, 155);
    color: white;
    border-radius: 8px;
}

td, th {
    border: 1px solid rgb(155, 43, 155);
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
}



/* início do carousel */

* { margin: 0; padding: 0; }
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-left: auto;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
    padding: auto;
}

.slider img {
    margin: auto;
    box-shadow: 8px 8px 10px gray;
    vertical-align: top;
    border-radius: 8px;
}
.slider input {
    display: none;
}
.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

   /* fim do carousel */



 /* início mapa*/

 .mapa {
    margin-left: 270px;
    
}

  /* fim mapa */

  .video{
    margin-left: 380px;
    
  }  

.memorian{
    padding-left: 440px;
  background: linear-gradient( rgb(240, 159, 67),rgb(155, 43, 155));
  ;
}

@media screen and (max-widht:480px) {
    .caixa, .principal, .mapa, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }
    nav{
        position: static;
    }
}








